fieldset {
    border: none;
}

.flex-form {
    display: flex;
    width: 100%;
}

input, 
textarea {
    margin: 20px;
    padding: 20px;
    font-size: 1.7rem;
    background-color: $darkBackground;
    border: 2px solid $lightShadow;
}

::placeholder {
    color: $textColor;
    opacity: 1;
    font-family: $bodyFont;
    font-size: 1.7rem;
}

input {
    flex-grow: 1;
    margin: 0;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    color: $textColor;
    transition: all 0.2s;
}

input:hover,
input:focus {
    border-top: 2px solid $lightShadow;
    border-right: 2px solid $lightShadow;
    border-left: 2px solid $lightShadow;
    background-color: $blogFormHover;
}

input[type="text"] {
    margin-right: 40px;
}

textarea {
    width: 100%;
    height: 200px;
    margin: 0;
    margin-top: 40px;
    color: $textColor;
    transition: all 0.2s;
}

textarea:hover,
textarea:focus {
    background-color: $blogFormHover;
}

.submit-button {
    width: 100%;
    color: $textColor;
    font-size: 1.8rem;
    padding: 15px 0;
    margin-top: 40px;
    background-color: $lightBackground;
    border: 2px solid transparent;
    transition: all 0.2s;
}

.submit-button:hover,
.submit-button:focus {
    background-color: $lightShadow;
    color: $darkBackground;
}

//contact form

.contact-page form {
    width: 75%;
    max-width: 860px;
    background-color: $lightBackground;
    width: 100%;
    padding: 60px 45px 45px 45px;
    box-shadow: -35px 35px $lightShadow;
    position: relative;
    top: -220px;
    right: -30px;
    flex-shrink: 1;
}

.contact-page input,
.contact-page textarea {
    background-color: $lightBackground;
}

.contact-page input:hover,
.contact-page input:focus,
.contact-page textarea:hover,
.contact-page textarea:focus {
    background-color: $contactFormHover;
}

.contact-page textarea {
    width: 100%;
    height: 230px;
}

.contact-page button {
    background-color: $darkBackground;
    padding: 10px;
    margin-top: 50px;
}
