// first minor breakdown 
@media (max-width: 1165px) {
    .new-additions .text-content {
        padding-right: 0px;
        margin: auto;
    }
    .new-feature .text-content {
        padding-left: 0px;
        margin: auto;
    }

    .new-additions img {
        box-shadow: 2vw 2vw $lightShadow;
    }
    
    .new-feature img {
    box-shadow: -2vw 2vw $lightShadow;
    }
}

//second break point
@media (max-width: 1025px) {

    .about {
        padding: 115px 60px 115px;
    }

    .about p {
        text-align: center;
    }

    .new-additions .image-container,
    .new-feature .image-container {
    width: 35%;
    }

    .container .text-content {
        width: 55%;
    }
    
    .container .text-content p {
        margin: 12px 0 20px;
    }

    .container {
        height: 570px;
        justify-content: space-between;
        padding: 25px 0;
    }

    .new-additions .image-container,
    .new-feature .image-container {
    position: static;
    }
}

@media (max-width: 900px) {
    .wrapper {
        width: 90%;
    }
    .main-nav ul{
        justify-content: center;
    }

    .page-directory {
        padding-top: 100px;
    }
    .monthly-profile .text-content {
    margin-left: 60px;
    }
    .monthly-profile .wrapper {
    padding: 60px 0 60px;
    }

    .monthly-profile img {
    box-shadow: 2vw 2vw $lightShadow;
    }
    .monthly-profile .text-content {
        text-align: center;
    }

    .blog-header h1 {
    margin-right: 0;
    }

    .blog-main {
        flex-direction: column;
    }

    aside {
        width: 90%;
        margin: 0 auto;
        flex-direction: row;
        padding: 20px;
        margin-top: 20px;
    }

    .aside-about {
        width: 60%;
        margin: auto;
        text-align: center;
    }

    .aside-about p {
        padding: 0;
    }

    .aside-posts {
        width: 40%;
    }

    .aside-posts h3 {
        text-align: center;
    }

    aside .aside-image {
        position: static;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .blog{
        margin-top: 0;
        width: 90%;
        margin: 0 auto;
    }

    .blog-post,
    .blog-comments {
        margin: 0;
    }

}

@media (max-width: 700px) {
    .index-header {
        height: 70vh;
    }

    
    .index-header h1 {
        position: relative;
        z-index: 1;
    }
    .page-directory li {
        width: 100%;
    }
    .blog-header {
        height: 50vh;
    }

    .blog-header h1 {
        margin: auto;
    }

    aside {
        padding: 10px;
    }

    .aside-image {
        display: none;
    }

    .aside-about {
        width: 45%;
        margin: 0 auto 0 0;
    }

    .aside-posts {
        width: 45%;
    }

}

@media (max-width: 600px) {
    .header-image {
        display: none;
    }
    .index-header {
        height: 50vh;
    }

    .index-header h1 {
        max-width: 65%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: calc(4rem + 5.6vw);
        line-height: 8rem;
    }

    .about {
        padding: 60px 30px 50px 30px;
    }

    .new-additions{
        flex-direction: column;
        margin-bottom: 15px;
    }

    .new-feature {
        flex-direction: column-reverse;
    }

    .container {
        height: auto;
        padding-top: 35px;
    }

    .new-additions .image-container,
    .new-feature .image-container  {
    width: 60%;
    margin: 0 auto;
    }

    .new-additions .text-content,
    .new-feature .text-content {
        width: 80%;
        text-align: center;
        margin: 25px auto;
    }

    .monthly-profile .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 0 50px;
    }
    .monthly-profile .text-content {
        margin: auto;
    }

    .monthly-profile .image-container {
        margin: auto;
        margin-bottom: 40px;
    }
    .gallery .wrapper {
        flex-wrap: wrap;
        padding: 0;
    }

    .gallery-item {
        margin: 20px auto;
        width: 90%;
    }
    .gallery-item:first-child {
        margin: 40px auto 20px;
    }
    .gallery-item:last-child {
        margin: 20px auto 40px;
    }

    footer .footer-divider {
        display: none;
    }

    footer a {
        display: block;
    }

    .blog-post {
        padding-left: 20px;
        padding-right: 20px;
    }

    .flex-form {
        flex-wrap: wrap;
    }

    .flex-form input:first-of-type {
        margin-right: 0;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
    }

    .posted-comments,
    .blog-comments h2 {
        padding-left: 0;
    }

    .blog-comments h2 {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .index-header h1 {
        max-width: 80%;
    }

    .main-nav {
        text-align: right;
    }

    .main-nav .nav-toggle {
        display: inline-block;
    }

    .main-nav .fas {
        color: $textColor;
        font-size: 4rem;
    }

    .main-nav li {
        display: none;
    }

    aside {
        flex-direction: column;
    }

    .aside-about,
    .aside-posts {
        width: 90%;
    }

    .aside-about {
        margin-right: 0;
        margin: 0 auto;
    }

    .aside-posts {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    
}